* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", "Verdana", "sans-serif";
}

body {
	background-color: #1B3A4B;
}

.base {
	color: white;
}

#title {
	font-size: 38px;
	text-align: center;
	margin-bottom: 1em;
	padding: 0.5em;
	background-color: #262640;
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.6);
}

.article-section {
	width: 80%;
	display: flex;
	flex-direction: column;
	margin: 1em auto;
	padding: 1em 2em;
	background-color: #262640;
	border-radius: 4px;
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.6);
}

.article {
	margin: 1.5em 0;
}

.article > .article-title {

	margin-bottom: 0.6em;
	font-size: 23px;
	border-bottom: 4px solid #941010;
}

.article > .content {
	font-size: 17px;
	text-align: justify;
}

.article > .read-more-less {
	font-size: 17px;
	font-weight: bolder;
	color: #941010;
	margin-top: 4px;
}

.article > .read-more-less:hover {
	cursor: pointer;
}

.hide {
	display: none;
}

@media(max-width: 600px) {
	#title {
		font-size: 30px;
	}

	.article-section {
		width: 90%;
	}

	.article > .article-title {
		font-size: 19px;
	}

	.article > .content {
		font-size: 14px;
	}

	.article > .read-more-less {
		font-size: 14px;
	}
}